$ten_color: #19631d;
$bright_text: rgb(184, 184, 184);

$form-select-border-color: $ten_color;
$form-select-border-width: 2.5px;
$form-select-focus-border-color: $ten_color;
$form-select-focus-box-shadow: 0 0 0 4px #66bb6a8c;
$input-focus-box-shadow: 0 0 0 4px #66bb6a8c;
$input-focus-border-color: $ten_color;
$input-padding-y-sm: 3px;
$input-padding-x-sm: 3px;
$input-group-addon-bg: $ten_color;
$input-group-addon-border-color: $ten_color;
$blue: $ten_color;
$input-border-radius-sm: 4px;
$input-group-addon-color: white;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
