@font-face {
	font-family: "quickSand";
	src: url(../assets/fonts/Quicksand-VariableFont_wght.ttf) format(truetype);
}

@font-face {
	font-family: "Space";
	src: url(../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf) format(truetype);
}

@font-face {
	font-family: "Unbound";
	src: url(../assets/fonts/Unbounded-VariableFont_wght.ttf) format(truetype);
}

@font-face {
	font-family: "Lilita";
	src: url(../assets/fonts/LilitaOne-Regular.ttf);
}

:root {
	--60Color: black;
	--30Color: #2f2f2f;
	--10Color: #66bb6a;
}

body {
	background: var(--60Color);
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 0.5fr 5fr 0.25fr;
	font-family: "quickSand";
	color: white;
	caret-color: transparent;
}

header {
	grid-area: 1/1/1/4;
	display: flex;
	padding-left: 0px;
	padding-top: 10px;
	padding-right: 15px;
}

header > span {
	align-self: center;
	font-family: "Unbound";
	font-size: 40px;
}

#to2 {
	color: var(--10Color);
}

header > img {
	height: 90px;
}

#settings {
	width: 100%;
	display: flex;
	justify-content: end;
	text-align: center;
	align-self: center;
	margin-right: 50px;
}

#newObjBtns {
	color: var(--10Color);
	align-self: center;
	margin-left: 20px;
	margin-top: 10px;
	font-weight: bold;
	font-family: "Space";
	cursor: pointer;
}

.inboxColmOneItems {
	background-color: var(--30Color);
	color: white;
	width: 17rem;
	border-radius: 4px;
}

.inboxColmOneItems > div {
	padding: 2px 8px;
}

main {
	display: grid;
	grid-area: 2/1/2/4;
}

#projTaskNav {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	padding-top: 15px;
	color: var(--30Color);
}

footer {
	position: absolute;
	right: 30px;
	bottom: 15px;
}

footer > span {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

footer > span > a {
	width: 27%;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	justify-content: space-between;
	margin-left: 4px;
}

footer > span > a > img {
	margin-left: 4px;
	filter: invert(68%) sepia(4%) saturate(5571%) hue-rotate(75deg) brightness(95%) contrast(88%);
}

#newProjEntryBox,
#newTaskEntryBox {
	display: flex;
	flex-direction: column;
	background-color: var(--30Color);
	height: fit-content;
	width: 400px;
	color: white;
	border-radius: 4px;
	position: absolute;
	top: 25%;
	left: 40%;
}

input,
textarea {
	caret-color: black;
}

.colmOneList {
	display: flex;
	border-bottom: black 2px solid;
	font-weight: 500;
	cursor: pointer;
	justify-content: space-between;
	transition: 250ms;
}

.colmOnePriority {
	align-self: center;
}

.colmHeaders {
	display: flex;
	justify-content: space-between;
	color: var(--60Color);
	padding-right: 15px;
	border-bottom: black 2px solid;
}

.colmHeaderDueDate {
	padding-right: 15px;
}

.openArrow {
	display: inline-block;
	color: var(--10Color);
	font-weight: 900;
	transition: 500ms;
}

.colmOneList:hover {
	background-color: #424242;
}

.colmOneList:hover > .colmOneDueDate > .openArrow {
	transform: translate(5px);
}

.colmOneActiveItem {
}
